TestServices/Service References/WCFEquipos/Equipos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SHMC_EQUI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_SERI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ALMA" type="xs:int" />
      <xs:element minOccurs="0" name="COD_EQUI" type="xs:int" />
      <xs:element minOccurs="0" name="COD_ESTA" type="xs:int" />
      <xs:element minOccurs="0" name="COD_PUNT_ATEN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TECN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TIPO_UBIC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMC_EQUI" nillable="true" type="tns:SHMC_EQUI" />
  <xs:complexType name="ArrayOfSHMC_EQUI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SHMC_EQUI" nillable="true" type="tns:SHMC_EQUI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSHMC_EQUI" nillable="true" type="tns:ArrayOfSHMC_EQUI" />
</xs:schema>