UnitTestProject/Service References/AtencionesWS/Atenciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Atenciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25097/Atenciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25097/Atenciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServices.Errores" />
      <xsd:import schemaLocation="http://localhost:25097/Atenciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25097/Atenciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAtenciones_CrearAtencion_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAtencion" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_CrearAtencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAtencionResponse" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_CrearAtencion_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices.Errores" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ObtenerAtencion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAtencion" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ObtenerAtencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAtencionResponse" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ModificarAtencion_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAtencion" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ModificarAtencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAtencionResponse" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_EliminarAtencion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAtencion" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_EliminarAtencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAtencionResponse" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_EliminarAtencion_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServices.Errores" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ListarAtenciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAtenciones" />
  </wsdl:message>
  <wsdl:message name="IAtenciones_ListarAtenciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAtencionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAtenciones">
    <wsdl:operation name="CrearAtencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtenciones/CrearAtencion" message="tns:IAtenciones_CrearAtencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtenciones/CrearAtencionResponse" message="tns:IAtenciones_CrearAtencion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAtenciones/CrearAtencionGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IAtenciones_CrearAtencion_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAtencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtenciones/ObtenerAtencion" message="tns:IAtenciones_ObtenerAtencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtenciones/ObtenerAtencionResponse" message="tns:IAtenciones_ObtenerAtencion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAtencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtenciones/ModificarAtencion" message="tns:IAtenciones_ModificarAtencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtenciones/ModificarAtencionResponse" message="tns:IAtenciones_ModificarAtencion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAtencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtenciones/EliminarAtencion" message="tns:IAtenciones_EliminarAtencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtenciones/EliminarAtencionResponse" message="tns:IAtenciones_EliminarAtencion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAtenciones/EliminarAtencionGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IAtenciones_EliminarAtencion_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAtenciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtenciones/ListarAtenciones" message="tns:IAtenciones_ListarAtenciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtenciones/ListarAtencionesResponse" message="tns:IAtenciones_ListarAtenciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAtenciones" type="tns:IAtenciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearAtencion">
      <soap:operation soapAction="http://tempuri.org/IAtenciones/CrearAtencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAtencion">
      <soap:operation soapAction="http://tempuri.org/IAtenciones/ObtenerAtencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAtencion">
      <soap:operation soapAction="http://tempuri.org/IAtenciones/ModificarAtencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAtencion">
      <soap:operation soapAction="http://tempuri.org/IAtenciones/EliminarAtencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarAtenciones">
      <soap:operation soapAction="http://tempuri.org/IAtenciones/ListarAtenciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Atenciones">
    <wsdl:port name="BasicHttpBinding_IAtenciones" binding="tns:BasicHttpBinding_IAtenciones">
      <soap:address location="http://localhost:25097/Atenciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>