UnitTestProject/Service References/AtencionesWS/Atenciones3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SHMC_ATEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_COME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_ERRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_PTOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ATEN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_ESTA" type="xs:int" />
      <xs:element minOccurs="0" name="COD_PUNT_ATEN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TECN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_TIPO" type="xs:int" />
      <xs:element minOccurs="0" name="FEC_ATEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_PROG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LST_ATEN" nillable="true" type="tns:ArrayOfSHMC_ATEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMC_ATEN" nillable="true" type="tns:SHMC_ATEN" />
  <xs:complexType name="ArrayOfSHMC_ATEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SHMC_ATEN" nillable="true" type="tns:SHMC_ATEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSHMC_ATEN" nillable="true" type="tns:ArrayOfSHMC_ATEN" />
</xs:schema>