UnitTestProject/Service References/AtencionesWS/Atenciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25097/Atenciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="CrearAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="atencionACrear" nillable="true" type="q1:SHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="CrearAtencionResult" nillable="true" type="q2:SHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_ATEN" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerAtencionResult" nillable="true" type="q3:SHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="atencionAModificar" nillable="true" type="q4:SHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ModificarAtencionResult" nillable="true" type="q5:SHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_ATEN" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAtencionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAtenciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAtencionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarAtencionesResult" nillable="true" type="q6:ArrayOfSHMC_ATEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>