DPOSPrototipo/Service References/TecnicosWS/Tecnicos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSHMC_EMPL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SHMC_EMPL" nillable="true" type="tns:SHMC_EMPL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSHMC_EMPL" nillable="true" type="tns:ArrayOfSHMC_EMPL" />
  <xs:complexType name="SHMC_EMPL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_EMPL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TECN" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMC_EMPL" nillable="true" type="tns:SHMC_EMPL" />
  <xs:complexType name="SHMC_USUA">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_ERRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_PASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_TELE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALF_URLL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TECN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_USUA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IND_ERRO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IND_INST" type="xs:boolean" />
      <xs:element minOccurs="0" name="NUM_TOKE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMC_USUA" nillable="true" type="tns:SHMC_USUA" />
</xs:schema>