DPOSPrototipo/Service References/TecnicosWS/Tecnicos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tecnicos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25097/Tecnicos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25097/Tecnicos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25097/Tecnicos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://localhost:25097/Tecnicos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServices.Errores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITecnicos_ListarTecnicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTecnicos" />
  </wsdl:message>
  <wsdl:message name="ITecnicos_ListarTecnicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTecnicosResponse" />
  </wsdl:message>
  <wsdl:message name="ITecnicos_LoginTecnico_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginTecnico" />
  </wsdl:message>
  <wsdl:message name="ITecnicos_LoginTecnico_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginTecnicoResponse" />
  </wsdl:message>
  <wsdl:message name="ITecnicos_LoginTecnico_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices.Errores" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="ITecnicos">
    <wsdl:operation name="ListarTecnicos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITecnicos/ListarTecnicos" message="tns:ITecnicos_ListarTecnicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITecnicos/ListarTecnicosResponse" message="tns:ITecnicos_ListarTecnicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginTecnico">
      <wsdl:input wsaw:Action="http://tempuri.org/ITecnicos/LoginTecnico" message="tns:ITecnicos_LoginTecnico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITecnicos/LoginTecnicoResponse" message="tns:ITecnicos_LoginTecnico_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITecnicos/LoginTecnicoGeneralExceptionFault" name="GeneralExceptionFault" message="tns:ITecnicos_LoginTecnico_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITecnicos" type="tns:ITecnicos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTecnicos">
      <soap:operation soapAction="http://tempuri.org/ITecnicos/ListarTecnicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTecnico">
      <soap:operation soapAction="http://tempuri.org/ITecnicos/LoginTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tecnicos">
    <wsdl:port name="BasicHttpBinding_ITecnicos" binding="tns:BasicHttpBinding_ITecnicos">
      <soap:address location="http://localhost:25097/Tecnicos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>