DPOSPrototipo/Service References/TecnicosWS/Tecnicos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25097/Tecnicos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="ListarTecnicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTecnicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarTecnicosResult" nillable="true" type="q1:ArrayOfSHMC_EMPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTecnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="usuarioABuscar" nillable="true" type="q2:SHMC_USUA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTecnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="LoginTecnicoResult" nillable="true" type="q3:SHMC_USUA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>