DPOSPrototipo/Service References/ReportesWS/Reportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reportes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25097/Reportes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25097/Reportes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25097/Reportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportes_RegistarReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistarReporte" />
  </wsdl:message>
  <wsdl:message name="IReportes_RegistarReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistarReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_RegularizarReportes_InputMessage">
    <wsdl:part name="parameters" element="tns:RegularizarReportes" />
  </wsdl:message>
  <wsdl:message name="IReportes_RegularizarReportes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegularizarReportesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_ObtenerReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporte" />
  </wsdl:message>
  <wsdl:message name="IReportes_ObtenerReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_ModificarReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReporte" />
  </wsdl:message>
  <wsdl:message name="IReportes_ModificarReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportes">
    <wsdl:operation name="RegistarReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/RegistarReporte" message="tns:IReportes_RegistarReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/RegistarReporteResponse" message="tns:IReportes_RegistarReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegularizarReportes">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/RegularizarReportes" message="tns:IReportes_RegularizarReportes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/RegularizarReportesResponse" message="tns:IReportes_RegularizarReportes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/ObtenerReporte" message="tns:IReportes_ObtenerReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/ObtenerReporteResponse" message="tns:IReportes_ObtenerReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/ModificarReporte" message="tns:IReportes_ModificarReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/ModificarReporteResponse" message="tns:IReportes_ModificarReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportes" type="tns:IReportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistarReporte">
      <soap:operation soapAction="http://tempuri.org/IReportes/RegistarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegularizarReportes">
      <soap:operation soapAction="http://tempuri.org/IReportes/RegularizarReportes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporte">
      <soap:operation soapAction="http://tempuri.org/IReportes/ObtenerReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarReporte">
      <soap:operation soapAction="http://tempuri.org/IReportes/ModificarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reportes">
    <wsdl:port name="BasicHttpBinding_IReportes" binding="tns:BasicHttpBinding_IReportes">
      <soap:address location="http://localhost:25097/Reportes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>