DPOSPrototipo/Service References/ReportesWS/Reportes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25097/Reportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="RegistarReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="reporteARegistrar" nillable="true" type="q1:SHMD_ATEN_REPO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistarReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistarReporteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegularizarReportes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegularizarReportesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegularizarReportesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COD_ATEN_REPO" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerReporteResult" nillable="true" type="q2:SHMD_ATEN_REPO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="reporteAModificar" nillable="true" type="q3:SHMD_ATEN_REPO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ModificarReporteResult" nillable="true" type="q4:SHMD_ATEN_REPO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>