DPOSPrototipo/Service References/FacilidadesWS/Facilidades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Facilidades" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25097/Facilidades.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25097/Facilidades.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25097/Facilidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacilidades_RegistrarAtencionFacilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAtencionFacilidad" />
  </wsdl:message>
  <wsdl:message name="IFacilidades_RegistrarAtencionFacilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAtencionFacilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IFacilidades_ListarFacilidades_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFacilidades" />
  </wsdl:message>
  <wsdl:message name="IFacilidades_ListarFacilidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFacilidadesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacilidades">
    <wsdl:operation name="RegistrarAtencionFacilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacilidades/RegistrarAtencionFacilidad" message="tns:IFacilidades_RegistrarAtencionFacilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacilidades/RegistrarAtencionFacilidadResponse" message="tns:IFacilidades_RegistrarAtencionFacilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFacilidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacilidades/ListarFacilidades" message="tns:IFacilidades_ListarFacilidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacilidades/ListarFacilidadesResponse" message="tns:IFacilidades_ListarFacilidades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacilidades" type="tns:IFacilidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarAtencionFacilidad">
      <soap:operation soapAction="http://tempuri.org/IFacilidades/RegistrarAtencionFacilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFacilidades">
      <soap:operation soapAction="http://tempuri.org/IFacilidades/ListarFacilidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Facilidades">
    <wsdl:port name="BasicHttpBinding_IFacilidades" binding="tns:BasicHttpBinding_IFacilidades">
      <soap:address location="http://localhost:25097/Facilidades.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>