DPOSPrototipo/Service References/FacilidadesWS/Facilidades1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SHMD_ATEN_REPO_FACI">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_ATEN" type="xs:int" />
      <xs:element minOccurs="0" name="COD_FACI" type="xs:int" />
      <xs:element minOccurs="0" name="IND_MARC" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMD_ATEN_REPO_FACI" nillable="true" type="tns:SHMD_ATEN_REPO_FACI" />
  <xs:complexType name="ArrayOfSHMC_FACI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SHMC_FACI" nillable="true" type="tns:SHMC_FACI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSHMC_FACI" nillable="true" type="tns:ArrayOfSHMC_FACI" />
  <xs:complexType name="SHMC_FACI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALF_FACI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_FACI" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHMC_FACI" nillable="true" type="tns:SHMC_FACI" />
</xs:schema>