DPOSPrototipo/Service References/FacilidadesWS/Facilidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25097/Facilidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="RegistrarAtencionFacilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="atenfaciARegistrar" nillable="true" type="q1:SHMD_ATEN_REPO_FACI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAtencionFacilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarAtencionFacilidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFacilidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFacilidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarFacilidadesResult" nillable="true" type="q2:ArrayOfSHMC_FACI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>