DPOSPrototipo/Service References/UsuariosWS/Usuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServices.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServices.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneralException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralException" nillable="true" type="tns:GeneralException" />
</xs:schema>